@use '../base';
.App {
  overflow-x: hidden;
  //max-width: 1440px;
  margin: auto;
}

header,
.main {
  max-width: 1440px;
  margin: auto;

  &:focus-within {
	  border: .25rem solid base.$mid-mid-grey;
  }
}
//About page
.main__about {
  margin-top: -3.5rem;
}
