/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Lexend Deca", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 0%;
  top: -0.3rem;
}
@media screen and (min-width: 38.75rem) {
  .hero {
    overflow: hidden;
  }
  .hero::after {
    position: absolute;
    content: "";
    background-image: url("../../assets/patterns/white-circles.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 25%;
    height: 100%;
  }
}

.inner__img {
  display: block;
}

.hero__title {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Space Mono", monospace;
  line-height: 1.2;
}
@media screen and (min-width: 38.75rem) {
  .hero__title {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__title {
    text-align: left;
  }
}

.hero__home {
  background-image: url("../../assets/images/home-hero-mobile.jpg");
}
.hero__home .hero__wrapper {
  top: 6.5rem;
  position: relative;
  padding: 0 2rem;
  max-width: 36.5rem;
  margin: auto;
}
.hero__home .inner__img {
  padding-top: 76%;
}
.hero__home .hero__content {
  color: #ffffff;
  margin-top: 1rem;
  text-align: center;
}
.hero__home .hero__btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__home::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../../assets/patterns/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: 100%;
  top: 0;
  left: -62%;
}
@media screen and (min-width: 38.75rem) {
  .hero__home {
    background-image: url("../../assets/images/home-hero-tablet.jpg");
  }
  .hero__home .hero__wrapper {
    top: 8rem;
    margin-left: 0;
    max-width: 46.5rem;
  }
  .hero__home .hero__btn__wrapper {
    margin-top: 2rem;
  }
  .hero__home .inner__img {
    padding-top: 45%;
  }
  .hero__home::before {
    background-size: 50%;
    left: 0%;
  }
  .hero__home::after {
    right: -1.4rem;
    top: 0;
    background-position: 50% 90%;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__home {
    background-image: url("../../assets/images/home-hero-desktop.jpg");
  }
  .hero__home .inner__img {
    padding-top: 23%;
  }
  .hero__home .hero__wrapper {
    top: 9rem;
    margin-left: 0;
    padding: 0 0 0 10.3125rem;
  }
  .hero__home .hero__content {
    position: relative;
    text-align: left;
    padding-left: 3rem;
    padding-right: 6rem;
    line-height: 1.7;
  }
  .hero__home .hero__content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/patterns/line.svg");
    background-repeat: no-repeat;
    left: -10.3125rem;
    top: 50%;
  }
  .hero__home::before {
    background-size: 29%;
    left: 50%;
    top: -16%;
  }
  .hero__home::after {
    background-size: 65%;
    background-position: 100% 72%;
  }
}

/* ---------------------------------------------------------- */
.hero__about {
  background-image: url("../../assets/images/about-hero-mobile.jpg");
}
.hero__about .inner__img {
  padding-top: 43%;
}
.hero__about .hero__wrapper {
  top: 3.2rem;
  position: relative;
  padding: 0 2rem;
}
.hero__about .hero__content {
  display: none;
}
.hero__about .hero__btn__wrapper {
  display: none;
}
@media screen and (min-width: 38.75rem) {
  .hero__about {
    background-image: url("../../assets/images/about-hero-tablet.jpg");
  }
  .hero__about .inner__img {
    padding-top: 85%;
  }
  .hero__about::after {
    top: 0;
    right: -1.4rem;
    height: 29%;
    background-position: 0% 50%;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__about {
    background-image: url("../../assets/images/about-hero-desktop.jpg");
  }
  .hero__about .inner__img {
    padding-top: 14%;
  }
  .hero__about::after {
    top: 0;
    right: -2.5rem;
    height: 100%;
    background-position: 0% 30%;
  }
}

/* -----------------------------------------------------*/
.hero__careers,
.hero__location {
  background-image: url("../../assets/images/careers-location-hero-mobile.jpg");
}
.hero__careers .inner__img,
.hero__location .inner__img {
  padding-top: 43%;
}
.hero__careers .hero__wrapper,
.hero__location .hero__wrapper {
  top: 3.2rem;
  position: relative;
  padding: 0 2rem;
}
.hero__careers .hero__content,
.hero__location .hero__content {
  display: none;
}
.hero__careers .hero__btn__wrapper,
.hero__location .hero__btn__wrapper {
  display: none;
}
@media screen and (min-width: 38.75rem) {
  .hero__careers,
.hero__location {
    background-image: url("../../assets/images/careers-locations-hero-tablet.jpg");
  }
  .hero__careers .inner__img,
.hero__location .inner__img {
    padding-top: 85%;
  }
  .hero__careers::after,
.hero__location::after {
    top: 0;
    right: -1.4rem;
    height: 29%;
    background-position: 0% 50%;
  }
}
@media screen and (min-width: 67.5rem) {
  .hero__careers,
.hero__location {
    background-image: url("../../assets/images/careers-locations-hero-desktop.jpg");
  }
  .hero__careers .inner__img,
.hero__location .inner__img {
    padding-top: 14%;
  }
  .hero__careers::after,
.hero__location::after {
    top: 0;
    right: -2.5rem;
    height: 100%;
    background-position: 0% 30%;
  }
}

.nav {
  display: flex;
  padding: 1.25rem;
  justify-content: flex-start;
  align-items: flex-end;
}
@media screen and (min-width: 38.75rem) {
  .nav {
    padding: 1.55rem 2.4375rem;
  }
}

.menu__control {
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 38.75rem) {
  .menu__control {
    display: none;
  }
}

.close__menu {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.logo__wrapper {
  margin: auto;
}
@media screen and (min-width: 38.75rem) {
  .logo__wrapper {
    flex: 1 1 20%;
  }
}

/******  MODAL CONTAINER ***** */
.modal__container {
  position: absolute;
  top: 4rem;
  left: 0rem;
  width: 68%;
  background-color: #333A44;
  height: 49vh;
  z-index: 1;
  padding-top: 4rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: space-between;
}
@media screen and (min-width: 38.75rem) {
  .modal__container {
    background-color: inherit;
    position: relative;
    padding-top: 0;
    top: 0;
    height: auto;
    width: max-content;
    flex: 1 1 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/***  END MODAL CONTAINER ******/
.hide__modal {
  display: none;
}
@media screen and (min-width: 38.75rem) {
  .hide__modal {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.show__menu,
.close__menu {
  border: none;
  background: none;
}

.nav__item--btn {
  color: white;
  outline: none;
  text-decoration: none;
  font-size: 0.9375rem;
}
.nav__item--btn:hover, .nav__item--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}
@media screen and (min-width: 38.75rem) {
  .nav__item--btn {
    color: #939CAA;
  }
}

.cards__secondary--btn {
  margin: auto;
  display: block;
}

.wrapper__scoot {
  margin: 0 auto;
}
@media screen and (min-width: 38.75rem) {
  .wrapper__scoot {
    flex: 1 1 45%;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 38.75rem) {
  .navigation__items {
    display: flex;
    flex: 1 1 50%;
    justify-content: space-between;
  }
}

.nav__item {
  margin-bottom: 1rem;
}
@media screen and (min-width: 38.75rem) {
  .nav__item {
    margin-bottom: 0;
  }
}

.logo--btn {
  outline: none;
}
.logo--btn:hover, .logo--btn:focus {
  cursor: pointer;
  outline: dashed currentColor;
  outline-offset: 0.25em;
}

.wrapper__scoot--btn {
  background-color: #FCB72B;
  border: none;
  font-size: 0.9375rem;
  color: #ffffff;
  padding: 0.9rem 3rem;
  margin-top: 1rem;
}
.wrapper__scoot--btn:hover, .wrapper__scoot--btn:focus {
  cursor: pointer;
  outline: dashed #333A44;
  outline-offset: 0.25em;
}
@media screen and (min-width: 38.75rem) {
  .wrapper__scoot--btn {
    margin-top: 0;
  }
}

@media screen and (min-width: 67.5rem) {
  .scoot__hero__wrapper {
    text-align: left;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 67.5rem) {
  .hero--btn {
    text-align: left;
  }
}

.cards {
  margin: 7rem auto 5rem;
  padding: 0 2rem;
  max-width: 35.8125rem;
}
@media screen and (min-width: 38.75rem) {
  .cards {
    padding: 0;
  }
}
@media screen and (min-width: 67.5rem) {
  .cards {
    display: flex;
    max-width: 69.375rem;
    gap: 4rem;
  }
}

.card {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (min-width: 38.75rem) {
  .card {
    display: flex;
    gap: 4rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .card {
    flex-direction: column;
  }
}

@media screen and (min-width: 38.75rem) {
  .card__splitter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 81%;
  }
}

@media screen and (min-width: 38.75rem) {
  .card__wrapper {
    flex: 1 1 19%;
    position: relative;
  }
  .card__wrapper::before {
    position: absolute;
    content: "";
    width: 1rem;
    height: 100%;
    background-color: #e5ecf4;
    left: 39%;
    z-index: -1;
    top: -80%;
  }
}
@media screen and (min-width: 67.5rem) {
  .card__wrapper::before {
    width: 100%;
    height: 1rem;
    left: -94%;
    top: 33%;
  }
}

.card__img {
  display: block;
  margin: auto;
  width: 19%;
}
@media screen and (min-width: 38.75rem) {
  .card__img {
    width: 100%;
    max-width: 6rem;
  }
}
@media screen and (min-width: 67.5rem) {
  .card__img {
    margin-left: 0;
  }
}

.card__title {
  color: #495567;
  font-size: 1.25rem;
  margin-top: 1rem;
  font-family: "Space Mono", monospace;
}

.card__content {
  font-size: 0.9375rem;
  color: #939CAA;
  margin-top: 2rem;
}
@media screen and (min-width: 38.75rem) {
  .card__content {
    text-align: left;
  }
}

.secondary__cards {
  padding: 0 2rem;
}

.cards2 {
  position: relative;
  margin-bottom: 7.5rem;
}
.cards2:first-child::before, .cards2:last-child::before, .cards2:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  top: 0;
}
.cards2:first-child::before, .cards2:last-child::before {
  background-image: url("../../assets/patterns/left-downward-arrow.svg");
  background-position: 0% 20%;
  right: -2rem;
}
.cards2:last-child::before {
  background-position: -25% 0%;
}
.cards2:nth-child(2)::before {
  background-image: url("../../assets/patterns/right-arrow.svg");
  background-position: 100% 0%;
  left: -2rem;
}
@media screen and (min-width: 38.75rem) {
  .cards2:first-child::before {
    background-position: 0% 50%;
  }
  .cards2:nth-child(2)::before {
    background-position: -35% 0%;
  }
  .cards2:last-child::before {
    background-position: -100% 0%;
    background-size: 135% 30%;
  }
}

.cards2__image {
  max-width: 27.8125rem;
  margin: auto;
  width: 100%;
  border-radius: 50%;
}

.cards2__content__wrapper {
  margin-top: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

.cards2__title {
  color: #495567;
  font-size: 2rem;
  font-family: "Space Mono", monospace;
  letter-spacing: -1.43px;
  line-height: 1.1;
}

.cards2__content {
  font-size: 0.9375rem;
  color: #939CAA;
  margin-top: 2rem;
}
@media screen and (min-width: 38.75rem) {
  .cards2__content {
    text-align: left;
  }
}

.App {
  overflow-x: hidden;
}
